In [9]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OrdinalEncoder

In [10]:
df = pd.read_csv('1000_Companies.csv')
df.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [11]:
df.isnull().sum()

R&D Spend          0
Administration     0
Marketing Spend    0
State              0
Profit             0
dtype: int64

In [12]:
oe = OrdinalEncoder()
df[["State"]] = oe.fit_transform(df[["State"]])
df.head()

   R&D Spend  Administration  Marketing Spend  State     Profit
0  165349.20       136897.80        471784.10    2.0  192261.83
1  162597.70       151377.59        443898.53    0.0  191792.06
2  153441.51       101145.55        407934.54    1.0  191050.39
3  144372.41       118671.85        383199.62    2.0  182901.99
4  142107.34        91391.77        366168.42    1.0  166187.94

In [13]:
y = df.iloc[:, -1]
y.head()

0    192261.83
1    191792.06
2    191050.39
3    182901.99
4    166187.94
Name: Profit, dtype: float64

In [14]:
X = df.drop(columns = "Profit", axis = 1)
X.head()

   R&D Spend  Administration  Marketing Spend  State
0  165349.20       136897.80        471784.10    2.0
1  162597.70       151377.59        443898.53    0.0
2  153441.51       101145.55        407934.54    1.0
3  144372.41       118671.85        383199.62    2.0
4  142107.34        91391.77        366168.42    1.0

In [15]:
reg = LinearRegression()
reg.fit(X, y)

LinearRegression()

In [16]:
reg.intercept_

-70214.44175560227

In [17]:
reg.coef_

array([ 0.55389023,  1.02672443,  0.08058525, 46.62387015])

In [19]:
oe.categories_

[array(['California', 'Florida', 'New York'], dtype=object)]

In [18]:
# Florida = 1
reg.predict([[91694.48, 515841.3, 11931.24, 1]])`

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([511209.20332292])